// color Cube

$tundora: #484848;
$bayleaf: #79b27b;
$firefly: #040b11;
$alizarin: #e32929;
$akaroa: #d6c9b0;
$japamaple: #78020f;
$cranberry: #db677d;
$seagull: #79b7e4;
$deepceru: #036db4;


// Median cut

$athensgray: #e5e8eb;
$capecod: #3f4843;
$bayleaf2: #85b680;
$gumbo: #7f9ea8;
$stonewall: #93806f;

// Material design

$punch: #d82b32;
$axolotl: #48644b;
$tamarillo: #9f1726;
$aztec: #0f1d1f;
$sorrellbrown: #d2b899;